{% extends 'base.html' %}

{% block header %}
<h1 style="position:relative; left:60px; top:2px;">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="position:relative; left:60px; top:2px;">
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <button class="button is-primary is-rounded" type="submit">Log In</button>
    </form>
</div>

{% endblock %}
